# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
.venv/
.vscode/
resources/credentials/
dags/load_wwi_archive/
dags/warehouse_wwi_archive/
dags/process_wwi_archive/
dags/resources/
dags/credentials/
logs/dag_id=process_wwi_rollback/
logs/dag_id=process_wwi_v2/
logs/dag_processor/
logs/
test.ipynb
plugins/process_wwi_v3_copy.json
plugins/process_wwi_v3_copy.py
plugins/__pycache__/
notebooks/resources/
credentials/
dags/__pycache__/
dags/modules/__pycache__/